<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <title> K-I-S-A-A-N </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/00a182305b.js" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />

</head>

<body>
    <style>
        .head {
            margin-top: 50px;
            margin-left: 20px;
            font-size: 40px;
        }
        
        .order {
            margin-left: 15px;
            padding-top: 12px;
        }
        
        .top {
            font-size: 40px;
        }
        
        p,
        ul {
            font-size: 25px;
        }
        
        ol {
            font-size: 30px;
        }
    </style>
    </head>

    <body>
        <div class="hero_area">
            <div class="bg-box">
                <img src="images/hero-bg3.jpg" alt="">
            </div>
            <!-- header section strats -->
            <header class="header_section">
                <div class="container">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="/">
                            <span>
                              K-I-S-A-A-N
                </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
              </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  mx-auto ">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/">Home </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="products">Menu</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="about">About <span class="sr-only">(current)</span> </a>
                                </li>
                            </ul>
                            <div class="user_option">
                                <!--       <a href="" class="user_link">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a> -->
                                <a class="cart_link" href="#">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                      <g>
                        <g>
                          <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                       c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                       C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                       c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                       C457.728,97.71,450.56,86.958,439.296,84.91z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                       c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                        </g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                    </svg>
                                    <!-- </a>
                                <form class="form-inline">
                                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                                </form> -->
                                    <a href="" class="order_online">
                    Help Desk
                  </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <!-- end header section -->
            <!-- slider section -->
            <section class="slider_section ">
                <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-md-7 col-lg-6 ">
                                        <div class="detail-box">
                                            <h1>
                                                Empowering farmers
                                            </h1>
                                            <p>
                                                Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                Order Now
              </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-md-7 col-lg-6 ">
                                        <div class="detail-box">
                                            <h1>
                                                Connecting consumers
                                            </h1>
                                            <p>
                                                Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                Order Now
              </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-md-7 col-lg-6 ">
                                        <div class="detail-box">
                                            <h1>
                                                Fulfill Requrirements
                                            </h1>
                                            <p>
                                                Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad mollitia laborum quam quisquam esse error unde. Tempora ex doloremque, labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                Order Now
              </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <ol class="carousel-indicators">
                            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                            <li data-target="#customCarousel1" data-slide-to="1"></li>
                            <li data-target="#customCarousel1" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>

            </section>
            <!-- end slider section -->
        </div>

        </div>

        <div>
            <h1 align="center" class="top" style="color:brown; margin-top: 12px;">! सहायता केंद्र में आपका स्वागत है !</h1>
            <h1 align="left" class="head" style="color:rgb(86, 11, 11)" font-size=35px>किसानों के लिए सरकार की योजना !</h1>
            <p align="justify" style=" margin-left:20px">
                कृषि विभाग द्वारा क्रियान्वित की जा रही विभिन्न योजनाओं के अन्तर्गत किसानों को दी जाने वाली सुविधा: </p>
        </div>
        <ol class="order">
            <li>
                <h3>
                    प्रधानमंत्री किसान सम्मान निधि योजना
                    <a href="https://pmkisan.gov.in/" target="blank">(PMKSNY))</a>
                </h3>
                <p>
                    प्रधानमंत्री किसान सम्मान निधि योजना के तहत किसानों को हर साल 6 हजार रुपये की आर्थिक मदद दी जाती है. ये राशि किसानों के खाते में 4 महीने के अंतराल पर 3 किस्तों में 2-2 हजार रुपये करके भेजी जाती है. अपने संबोधन में पीएम ने कहा कि हमें खेती में नई पद्धति
                    को अपनाना होगा
                </p>
            </li>
            <br>
            <li>
                <h3> प्रधानमंत्री अधिक फसल प्रति बूंद योजना
                    <a href="https://pmksy.gov.in/" target="blank">(PMKSY)</a></h3>
                <p>
                    यह योजना देश में हर जगह पानी मुहैया कराएगी और देश के फसल राशन को बढ़ावा देगी। यह देश के किसानों के जीवन स्तर में सुधार करेगा। इस प्रधानमंत्री योजना के तहत प्रति फसल योजना के तहत अधिक फसल जल प्रबंधन प्रणाली का प्रबंधन करेगी।
                </p>
            </li>
            <br>
            <li>
                <h3>प्रधान मंत्री फसल बीमा योजना
                    <a href="https://pmfby.gov.in/" target="blank">(PMFBY)</a></h3>
                <p>
                    प्रधान मंत्री फसल बीमा योजना देश के किसानों को किसी प्राकृतिक आपदा के कारण होने वाले फसल के नुकसान पर इंश्योरेंस कवर प्रदान करने के लिए आरंभ किया गया है। इस योजना के माध्यम से अब तक लाखों किसानों को लाभ पहुंचा है। पहले 3 वर्षों में किसानों द्वारा लगभग
                    13000 करोड रुपए का प्रीमियम जमा किया गया है।
                </p>
            </li>
            <br>
            <li>
                <h3>कृषि, सहकारिता और किसान कल्याण विभाग
                    <a href="https://agricoop.nic.in/en" target="blank">(A&FW)</a></h3>
                <p>
                    कृषि, सहकारिता और किसान कल्याण विभाग का मिशन राज्य सरकारों और भारत सरकार के अन्य विभागों की सहायता से कृषि उत्पादन बढ़ाकर और मंत्रालय की योजनाओं के सफल क्रियान्वन द्वारा किसानों का हित सुनिश्चित करके कृषि क्षेत्र के लिए निर्धारित वृद्धि दर प्राप्त करना
                    है।
                </p>
            </li>
            <br>
            <li>
                <h3>किसान पोर्टल <a href="http://mkisan.gov.in/hindi/wbreg.aspx" target="blank">(FP)</a></h3>
                <p>
                    वह किसान जिनके पास इंटरनेट की सुविधा हैं पोर्टल के माध्यम से रजिस्टर कर सकते हैं अथवा वह पास के सामान्य सेवा केंद्र (सीएससी) में जाकर, ग्राम स्तरीय उद्यमी के द्वारा रजिस्टर हों सकते हैं| पंजीकरण करवाने के लिए एक बार में तीन रुपए का शुल्क ग्राम स्तरीय
                    उद्यमी द्वारा लिया जाएगा|
                </p>
            </li>
            <br>
            <li>
                <h3> परंपरागत कृषि विकास योजना
                    <a href="https://vikaspedia.in/agriculture/policies-and-schemes/crops-related/krishi-unnati-yojana/paramparagat-krishi-vikas-yojana" target="blank">(PKVY)</a></h3>
                <p>
                    परंपरागत कृषि विकास योजना के अंतर्गत सरकार द्वारा जैविक खेती के लिए ₹50000 प्रति हेक्टेयर 3 वर्षों के लिए आर्थिक सहायता प्रदान की जाएगी। इस राशि में से ₹31000 प्रति हेक्टेयर की राशि जैविक उर्वरकों, कीटनाशकों, बीजों आदि के लिए प्रदान किए जाएंगे। मूल्यवर्धन
                    एवं वितरण के लिए ₹8800 रुपया प्रदान किए जाएंगे।
                </p>
            </li>
            <br>
            <li>
                <h3>पीएम किसान मानधन योजना
                    <a href="https://www.insightsonindia.com/social-justice/welfare-schemes/schemes-under-ministry-of-agriculture/pradhan-mantri-kisan-maan-dhan-yojana-pm-kmy/" target="blank">(PM-KMY)</a></h3>
                <p>
                    पीएम किसान मानधन योजना के तहत किसानों को 60 साल की उम्र पूरी होने के बाद हर महीने 3000 रुपये पेंशन मिलेगी। इसके लिए किसानों को हर महीने 55 रुपये से लेकर 200 रुपये जमा करने होंगे किसानों की मासिक आय 15,000 रुपये या उससे कम होनी चाहिए।
                </p>
            </li>
            <br>
            <li>
                <h3> पारदर्शी किसान सेवा योजना -UP <a href="http://upagriculture.com/">(DA-UP)</a>
                </h3>
                <p>
                    कृषि विभाग का मूल उद्देश्य कृषि विकास की दर को गति प्रदान करने के साथ-साथ फसलोत्पादन तथा उत्पादकता में वृद्धि करना है, जिससे प्रदेश के कृषकों की आर्थिक स्थिति को सुदृढ़ कर उनके जीवन-स्तर को ऊपर उठाया जा सके। इसके अतिरिक्त प्रदेश के क्षेत्रीय असंतुलन को
                    दूर करने के लिए क्षेत्र विशेष हेतु उपयुक्त योजनाओं का क्रियान्वयन एवं कृषकों को रोजगार के नये अवसर प्रदान करना|
                </p>
            </li>
        </ol>
    </body>


    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contact Us
                        </h4>
                        <div class="contact_link_box">
                            <a href="https://goo.gl/maps/tGTvcoKkQJyGfdrcA">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                  Location
                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                      Call +91 023467890
                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                  kisaan@gmail.com
                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                              K-I-S-A-A-N
            </a>
                        <p>
                            Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        We are available
                    </h4>
                    <p>
                        Everyday
                    </p>
                    <p>
                        24x7
                    </p>
                    <p>
                        365 days
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="#">the Team</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- footer section -->

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->

</html>